*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #C9FFFF;
}
header img{
    width: 100%;
    justify-content: center;
}

footer img{
    width: 100%;
    justify-content: center;
}

.pokemon{
    text-align: center;
    background-color: #C9FFFF;
    padding: 15px;
}

.pokemon img{
    height: 300px;
    width: 300px;
}

.Proximo{
    width: 120px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    margin-left: 1000px;
}

.Anterior{
    width: 120px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
}